---
http_interactions:
- request:
    method: post
    uri: https://sms.ru/sms/send?api_id=<API_ID>&json=1&msg=hello+world&to=<PHONE>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      sms-api:
      - '1'
      trail:
      - 10.0.0.62:52060 w15
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "OK",
            "status_code": 100,
            "sms": {
                "<PHONE>": {
                    "status": "OK",
                    "status_code": 100,
                    "sms_id": "<SMS_ID>",
                    "cost": "3.50"
                }
            },
            "balance": 123456.123
        }
  recorded_at: Sat, 03 Sep 2022 12:26:57 GMT
recorded_with: VCR 6.1.0
